.app-shell {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

section {
  scroll-margin-top: 4rem;
}

@media (max-width: 640px) {
  .app-shell {
    padding: 0;
  }
}

/* Hide number input spinners */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] {
  -moz-appearance: textfield;
}
